<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>

    <div class="row">
      <p class="lead">
        <h2>Congratulations! You're watching SquirrelTV.</h2>
      </p>
      <article>
        <section>
          Actually, you're looking at an experiment in language acquisition using YouTube clips by <a href="mailto:scott.schafer@gmail.com">Scott Schafer</a>.
        </section>
        <br>

        <section>
          The basic idea is to teach language concepts using a database of sentences and references to segments of YouTube clips that illustrate those sentences. For example, if we have two sentences (both illustrated by videos) that only differ by one word, we can play one of those videos and allow the user to chose which of the two words is correct. This is Quiz mode. Alternately, we the user can play with different words to see the related videos play.
        </section>
        <br>

        <section>
          You may create your own sentence/clip associations under Clips.
        </section>
        <br>

        <section>
          This is experimental, unfinished and very much a learning experience all around. Hope you enjoy it.
        </section>
      </article>
    </div>
  </div>
</section>